.odin,
.rec {background-color: black;}

.odin{color: red;}

.rec{color: purple;}

#food {background-color: cornflowerblue; color: darkgreen;} 

.des {font-family: 'Times New Roman', Times, serif; color: purple;}

.ing {font-family: Verdana, Geneva, Tahoma, sans-serif; color: deeppink;}

.step {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: gold;}

.ban {color: crimson;}

.butt{color: palevioletred;}